@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'vazir';
        src: url(../src/fonts/Vazir.eot);
        src: url(../src/fonts/Vazir.woff) format('woff');
        src: url(../src/fonts/Vazir.woff2) format('woff2');
        src: url(../src/fonts/Vazir.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'vazir';
        src: url(../src/fonts/Vazir-Bold.eot);
        src: url(../src/fonts/Vazir-Bold.woff) format('woff');
        src: url(../src/fonts/Vazir-Bold.woff2) format('woff2');
        src: url(../src/fonts/Vazir-Bold.ttf) format('truetype');
        font-weight: bold;
        font-style: normal;
    }


}

